<div class="content" >
  <h1>Bowling Game</h1>

  <h2>Let's start</h2>

  <h3>Insert your name and hit "Start"</h3>

  <form [formGroup]="formObj" (ngSubmit)="submit()">
    <input class="user-name" [ngClass]="{'error': formObj.controls['name'].touched && !formObj.controls['name'].valid}" type="text" formControlName="name" placeholder="Your name...">

    <button type="submit" class="submit-btn" [disabled]="!formObj.valid">Start</button>
  </form>

  <button type="button" class="top-scores-btn" [routerLink]="['/top-scores']">Top 5 Scores</button>
</div>
