app-register {

  form {
    margin: 0 auto;
    width: 300px;
    text-align: center;
  }

  .user-name {
    margin: 0 auto;
    padding: 4px 5px;
    border: 2px solid gray;
    border-radius: 4px;


    &.error {
      border: 2px solid #d72222;
    }
  }

  .top-scores-btn,
  .submit-btn {
    margin: 10px auto 0;
    display: block;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 18px;
    color: #FFFFFF;
    background: #3360d2;
    border: none;
    outline: 0;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
    }
  }

  .top-scores-btn {
    margin-top: 30px;
    background: #0e296a;
  }
}
