app-dashboard {
  .board {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    border: 1px solid #000000;


    app-frame {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
      border-right: 1px solid #000000;

      &:last-child {
        border-right: none;
      }

      &.active {
        background: rgba(213, 248, 237, 0.25);
      }
    }
  }

  .pins-count {
    margin-top: 20px;

    .pin-btn {
     margin: 0 10px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      border: none;
      background: #3360d2;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: 500;
      outline: 0;
    }
  }

  .top-scores-btn,
  .start-new-game-btn {
    margin: 10px auto 0;
    display: block;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 18px;
    color: #FFFFFF;
    background: #3360d2;
    border: none;
    outline: 0;
    cursor: pointer;
  }

  .top-scores-btn {
    margin-top: 30px;
    background: #0e296a;
  }

  @keyframes blur {
    from {
      text-shadow:0 0 10px #f17e4a,
      0 0 10px #f17e4a,
      0 0 25px #f17e4a,
      0 0 25px #f17e4a,
      0 0 25px #f17e4a,
      0 0 25px #f17e4a,
      0 0 25px #f17e4a,
      0 0 25px #f17e4a,
      0 0 50px #f17e4a,
      0 0 50px #f17e4a,
      0 0 50px #7B96B8,
      0 0 150px #7B96B8,
      0 10px 100px #7B96B8,
      0 10px 100px #7B96B8,
      0 10px 100px #7B96B8,
      0 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
    }
  }

  .highlight-box {
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
    color: #fff;
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur .75s ease-out infinite;
    text-shadow: 0 0 5px #f17e4a, 0 0 7px #f17e4a;
  }
}
