<div class="content">

  <h1>Hello {{shareService.userName}}</h1>

  <div class="board">
    <ng-container *ngFor="let _ of frames; let i = index">

      <app-frame [ngClass]="{'active' : activeFrameIndex === i}"
                 [index]="i+1"
                 (goToNextFrame)="goToNextFrame($event)"
                 (showHighlight)="showHighlight($event)"
                 (endGame)="endGame($event)">
      </app-frame>

    </ng-container>
  </div>

  <ng-container *ngIf="highlightType === '' && !gamedEnded">
    <h2>Select knock down pins count</h2>
    <div class="pins-count" *ngIf="gameReady">
      <ng-container *ngFor="let pin of pins">

        <ng-container *ngIf="pin <= currentFrame.pinsLeft">

          <button class="pin-btn" type="button" (click)="knockDown(pin)">{{pin}}</button>

        </ng-container>


      </ng-container>

    </div>
  </ng-container>

  <div class="highlight-box" *ngIf="highlightType !== ''">{{highlightType}}</div>

  <ng-container *ngIf="gamedEnded">
    <h3>Your Score is: {{totalScore}}</h3>

    <button type="button" class="start-new-game-btn" (click)="startNewGame()">Start New Game</button>

    <button type="button" class="top-scores-btn" [routerLink]="['/top-scores']">Top 5 Scores</button>
  </ng-container>

</div>
<div class="loader" [ng2-loading]="shareService.showLoading"></div>
