<div class="content">

  <h1>Top 5 Scores</h1>

  <ng-container *ngFor="let game of data">
    <div class="game-box">
      <div class="player-name">
        {{game.user}}
        <span>- Score:</span>
        {{game.totalScore}}
      </div>

      <div class="board">

        <ng-container *ngFor="let frame of game.frames; let i = index">

          <app-frame [index]="i+1" [isViewMode]="true" [viewModeData]="frame"></app-frame>

        </ng-container>
      </div>
    </div>

  </ng-container>

</div>
<div class="loader" [ng2-loading]="shareService.showLoading"></div>
