app-top-scores {
  .board {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    border: 1px solid #000000;


    app-frame {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
      border-right: 1px solid #000000;

      &:last-child {
        border-right: none;
      }

      &.active {
        background: rgba(213, 248, 237, 0.25);
      }
    }
  }

  .game-box {
    margin-top: 50px;

    .player-name {
      font-size: 21px;
    }
  }
}
