app-frame {
  display: block;


  .frame-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    height: 95px;

    .rolls {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 100%;

      .roll {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        order: 0;
        flex: 1 auto;
        align-self: auto;
        height: 100%;

        span {
          font-size: 18px;
          font-weight: 600;
          order: 0;
          flex: 1 0 auto;
          align-self: auto;

          &.spare {
            display:inline-block;
            position: relative;
            width: 100%;
            height: 100%;

            &:after {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              border-left: 39px solid transparent;
              border-right: 0 solid transparent;
              border-bottom: 40px solid #000000;
            }
          }

          &.strike {
            display:inline-block;
            width: 100%;
            height: 100%;
            background: #000000;
          }
        };

        &:nth-child(1) {
          flex: 1 45px;
        }

        &:nth-child(2) {
          flex: 1 35px;
          border-left: 1px solid #000000;
          border-bottom: 1px solid #000000;
        }
      }

      &.three-rolls {
        .roll {
          &:nth-child(1) {
            flex: 1 20px;
          }

          &:nth-child(2) {
            flex: 1 35px;

            span {
              &.spare {
                &:after {
                  border-left: 34px solid transparent;
                }
              }
            }
          }

          &:nth-child(3) {
            flex: 1 35px;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #000000;

            span {
              &.spare {
                &:after {
                  border-left: 34px solid transparent;
                }
              }
            }
          }

        }
      }
    }

    .total {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      height: 55px;
      width: 100%;
      text-align: center;

      span {
        font-size: 20px;
        font-weight: 600;
        order: 0;
        flex: 1 0 auto;
        align-self: auto;
      }
    }
  }
}
