<div class="frame-box">
  <div class="rolls" [ngClass]="{'three-rolls' : index === 10}">

    <div class="roll" >
      <ng-container *ngIf="!isLastFrame">
        <span *ngIf="rolls[0] > -1 && !isStrike">{{rolls[0]}}</span>
      </ng-container>

      <ng-container *ngIf="isLastFrame">
        <span class="strike" *ngIf="rolls[0] === 10"></span>
        <span *ngIf="rolls[0] < 10">{{rolls[0]}}</span>
      </ng-container>

    </div>

    <div class="roll">
      <ng-container *ngIf="!isLastFrame">
        <span *ngIf="rolls[1] > -1 && !isStrike && !isSpare">{{rolls[1]}}</span>
        <span class="strike" *ngIf="isStrike || isLastFrame && rolls[1] === 10"></span>
        <span class="spare" *ngIf="isSpare"></span>
      </ng-container>

      <ng-container *ngIf="isLastFrame">
        <span class="strike" *ngIf="rolls[1] === 10"></span>
        <span class="spare" *ngIf="rolls[0] + rolls[1] === 10"></span>

        <span *ngIf="!(rolls[0] + rolls[1] === 10) && !(rolls[1] === 10)">{{rolls[1]}}</span>
      </ng-container>
    </div>

    <div class="roll" *ngIf="isLastFrame">
      <span *ngIf="rolls[2] > -1 && rolls[2] !== 10">{{rolls[2]}}</span>
      <span class="strike" *ngIf="rolls[2] === 10"></span>
    </div>
  </div>

  <div class="total">
    <span *ngIf="showTotal">{{total}}</span>
  </div>
</div>
